[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pytest = "*"
django-filter = "*"
gunicorn = "*"
djangorestframework = "*"
django-rest-swagger = "*"
django-debug-toolbar = "*"
pyjwt = "*"
django-countries = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
