# Version control files
.git
.gitignore
.gitattributes

# Python compiled files
*.pyc

# Local development settings
.env
.env.sample

# Unit test / coverage reports
.coverage
.coverage.*

# Docs and guides
/docs
README.md

# Docker-related fields
.dockerignore
Dockerfile
docker-compose.yml

# Service logs
*.log
