[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
asgiref = "*"
async-timeout = "*"
attrs = "*"
billiard = "*"
celery = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
coreapi = "*"
coreschema = "*"
coverage = "*"
deprecated = "*"
django = "*"
django-countries = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-rest-swagger = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
flower = "*"
gunicorn = "*"
humanize = "*"
idna = "*"
iniconfig = "*"
itypes = "*"
jinja2 = "*"
kombu = "*"
markupsafe = "*"
openapi-codec = "*"
packaging = "*"
pluggy = "*"
prometheus-client = "*"
prompt-toolkit = "*"
psycopg2-binary = "*"
py = "*"
pyjwt = "*"
pyparsing = "*"
pytest = "*"
pytest-django = "*"
pytz = "*"
redis = "*"
requests = "*"
simplejson = "*"
six = "*"
sqlparse = "*"
tomli = "*"
tornado = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
vine = "*"
wcwidth = "*"
wrapt = "*"
python-dotenv = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
django-health-check = "*"

[dev-packages]

[requires]
python_version = "3.10"
